@import "tailwindcss";

/* This colors are reference of out business colors */
:root {
  --current: currentColor;
  --clb-c-transparent: transparent;
  --clb-c-white: oklch(0.98 0 0 / 1);
  --clb-c-primary: oklch(0.59 0.19 254.77 / 1);
  --clb-c-secondary: oklch(0.57 0.2 283.08 / 1);
  --clb-c-accent: oklch(0.69 0.12 185.39 / 1);
  --clb-c-neutral: oklch(0.31 0.02 254.14 / 1);
  --clb-c-info: oklch(0.76 0.14 231.62 / 1);
  --clb-c-success: oklch(0.77 0.15 163.1 / 1);
  --clb-c-warning: oklch(0.83 0.16 83.42 / 1);
  --clb-c-error: oklch(0.71 0.16 22.15 / 1);
  --clb-c-gradient-first: oklch(0.83 0.18 160.17 / 1);
  --clb-c-gradient-second: oklch(0.68 0.15 238.98 / 1);

  --clb-c-primary-focus: color-mix(in oklch, var(--clb-c-primary), black 7%);
  --clb-c-primary-content: color-mix(in oklch, var(--clb-c-primary), white 80%);
  --clb-c-secondary-focus: color-mix(
    in oklch,
    var(--clb-c-secondary),
    black 7%
  );
  --clb-c-secondary-content: color-mix(
    in oklch,
    var(--clb-c-secondary),
    white 80%
  );
  --clb-c-accent-focus: color-mix(in oklch, var(--clb-c-accent), black 7%);
  --clb-c-accent-content: color-mix(in oklch, var(--clb-c-accent), white 80%);
  --clb-c-neutral-focus: color-mix(in oklch, var(--clb-c-neutral), black 3%);
  --clb-c-neutral-content: color-mix(in oklch, var(--clb-c-neutral), white 80%);
  --clb-c-info-content: color-mix(in oklch, var(--clb-c-info), black 80%);
  --clb-c-success-content: color-mix(in oklch, var(--clb-c-success), black 80%);
  --clb-c-warning-content: color-mix(in oklch, var(--clb-c-warning), black 80%);
  --clb-c-error-content: color-mix(in oklch, var(--clb-c-error), black 80%);
}

@theme {
  --color-*: initial; /* Reset all tailwind color */
  --color-current: var(--current);
  --color-transparent: var(--clb-c-transparent);
  --color-white: var(--clb-c-white);
  --color-primary: var(--clb-c-primary);
  --color-primary-content: var(--clb-c-primary-content);
  --color-primary-focus: var(--clb-c-primary-focus);
  --color-secondary: var(--clb-c-secondary);
  --color-secondary-content: var(--clb-c-secondary-content);
  --color-secondary-focus: var(var(--clb-c-secondary-focus));
  --color-accent: var(--clb-c-accent);
  --color-accent-content: var(--clb-c-accent-content);
  --color-accent-focus: var(var(--clb-c-accent-focus));
  --color-neutral: var(--clb-c-neutral);
  --color-neutral-content: var(--clb-c-neutral-content);
  --color-neutral-focus: var(var(--clb-c-neutral-focus));
  --color-info: var(--clb-c-info);
  --color-info-content: var(--clb-c-info-content);
  --color-success: var(--clb-c-success);
  --color-success-content: var(--clb-c-success-content);
  --color-warning: var(--clb-c-warning);
  --color-warning-content: var(--clb-c-warning-content);
  --color-error: var(--clb-c-error);
  --color-error-content: var(--clb-c-error-content);
  --color-gradient-first: var(--clb-c-gradient-first);
  --color-gradient-second: var(--clb-c-gradient-second);
}

/* @import "tailwindcss/base.css";
@import "tailwindcss/components.css";

@import "../tailwind/components.css";

@import "tailwindcss/utilities.css";

@layer base {
  :root {
    --color-primary: theme("colors.primary");
    --color-secondary: theme("colors.secondary");
    --color-accent: theme("colors.accent");
    --color-neutral: theme("colors.neutral");
    --color-info: theme("colors.info");
    --color-success: theme("colors.success");
    --color-warning: theme("colors.warning");
    --color-error: theme("colors.error");
    --color-gradient-first: theme("colors.gradient-first");
    --color-gradient-second: theme("colors.gradient-second");
  }

  html {
    font-family: var(--font-yekanback);
  }

  :lang(en) {
    font-family: var(--font-figtree);
  }
}
.gradient {
  @apply bg-gradient-to-r from-gradient-first to-gradient-second text-transparent bg-clip-text;
}

.animated-icon {
  & > * {
    @apply transition-all;
  }
  &:hover {
    @apply text-white;
    & > * {
      @apply -translate-x-2;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  animation: fadeIn 0.8s ease forwards;
} */
